<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starting Page</title>
<style>
    .bttn {
        background-color: #b1e675; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
</style>
</head>
<body>
    <div><button class="bttn"><a href="insert/" style="text-decoration: none;">Insert Employee Details</a></button></div>
   <div style="float: right;">
     <img src="https://thumbs.dreamstime.com/b/holiday-welcome-sign-hanging-rustic-teal-blue-wood-background-white-christmas-garland-border-61613569.jpg">
    </div>
    
</body>
</html>